{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1>Prueba técnica - Backend</h1>
        <p>Esta prueba técnica solicita el desarrollo de una aplicación web en Python utilizando cualquier framework. La
            aplicación debe permitir el registro de ingreso y salida de empleados, proveedores e invitados, generar
            reportes de horas trabajadas por empleado y área, así como reportes de personas dentro de la empresa para
            controlar evacuaciones. </p>
    </section>
</main>
{% endblock %}

