{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">
    <h1 class="c-title text-center">Crear empleado</h1>
    <form method="POST" class="c-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="first_name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellido" required>
        </div>
        <div class="mb-3">
            <label for="document" class="form-label">Identificación</label>
            <input type="text" class="form-control" id="document" name="document" placeholder="Identificación" required>
        </div>
        <div class="mb-3">
            <label for="cost_department" class="form-label">Departamento</label>
            <select class="form-select" id="cost_department" name="cost_department" required>
                <option value="" selected>Seleccione un departamento</option>
                {% for cost_department in cost_departments %}
                <option value="{{ department.id }}">{{ cost_department.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Crear empleado</button>
    </form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

